.page__main {
}
.main {
}
.main__container {
  background-image: url(../././img/bg-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 236px 20px 52px 28px;
  border-radius: 16px;

  @media screen and (max-width: 767.98px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 479.98px) {
    padding: 30px 20px;
  }
}
.main__greeting {
  padding: 24px;
  background: #0f3f3c;
  border-radius: 16px;
  max-width: 432px;
}
.main__title {
  font-size: 32px;
  line-height: 1;

  letter-spacing: 1.25px;

  color: $white;

  margin-bottom: 8px;
}
.main__text {
  color: $white;
}
